# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
raft_node_0/raft_term.dat
raft_node_0/raft_voted_for.dat
raft_node_1/raft_term.dat
raft_node_1/raft_voted_for.dat
raft_node_2/raft_term.dat
raft_node_2/raft_voted_for.dat
system_design/consensus/.DS_Store
system_design/consensus/raft/.DS_Store
.vscode/settings.json
.vscode/tasks.json
data/raft_node_0/raft_log.dat
data/raft_node_0/raft_term.dat
data/raft_node_0/raft_voted_for.dat
data/raft_node_1/raft_log.dat
data/raft_node_1/raft_term.dat
data/raft_node_1/raft_voted_for.dat
data/raft_node_2/raft_log.dat
data/raft_node_2/raft_term.dat
data/raft_node_2/raft_voted_for.dat
out/data/raft_node_0/raft_log.dat
out/data/raft_node_0/raft_term.dat
out/data/raft_node_0/raft_voted_for.dat
out/data/raft_node_1/raft_log.dat
out/data/raft_node_1/raft_term.dat
out/data/raft_node_1/raft_voted_for.dat
out/data/raft_node_2/raft_log.dat
out/data/raft_node_2/raft_term.dat
out/data/raft_node_2/raft_voted_for.dat
raft_node_0/raft_log.dat
raft_node_1/raft_log.dat
raft_node_2/raft_log.dat
raft_node_3/raft_log.dat
raft_node_3/raft_term.dat
raft_node_3/raft_voted_for.dat
raft_node_4/raft_log.dat
raft_node_4/raft_term.dat
raft_node_4/raft_voted_for.dat
system_design/consensus/raft/server/.DS_Store
